/* ------------GLOBAL------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Quicksand', sans-serif;
}

.title-top {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    display: block;
}

.title-bottom {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}



/* -----------PRIVATE------------  */

/* header */


/* .about */
.about__content {
    display: flex;
}


h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

h3 {
    font-size: 45px;
    line-height: 48px;
    font-weight: 600;
}

/* best  */
.best {
    background-color: #ff6600;
    display: flex;
}

/* left  */

.best__left img {
    width: 100%;
    height: 100%;
}

.best__left .best__img {
    background: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
    position: relative;
    z-index: 1;
}

.best__left .best__img::after{
    content: "";
        background: rgb(16 15 19 / 46%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        min-height: 100%;
    }
/* right */
.best__right {
    padding-left: 30px ;
}
.best__right__text h6 {
    padding-top: 20px;
    color: #fff;
}

.best__right__text p {
    color: #ffdfc9;
}

.best__right__comment .icon i {
    background-color: #fff;
}

.best__right__comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}


.icon {

    font-size: 25px;
    line-height: 70px;
}



.icon i {
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 62px;

    border-radius: 6px;
    font-size: 2rem;
}

.best__right__comment a {
    padding-top: 20px;
    display: block;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}

.best__right__comment p {
    color: #ffdfc9;
}



/* product */
.product__item__top {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgb(130 115 249 / 5%);
    line-height: 70px;
    border-radius: 5px;
    transition: 0.3s;
}

.product__item {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee
}

.icon {
    color: #ff6600;
}

.product__item:hover .icon {
    color: #fff;
    background-color: #ff6600;

}


.product__item h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
}

.info a {
    text-decoration: none;
}

.info a:hover {
    color: #ff6600;
}