/* ------------GLOBAL------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #232220;
    /* background: #ff6600; */
    color: #c2d0da;
    font-family: 'Quicksand', sans-serif;
}

.title-top {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    display: block;
}

.title-bottom {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}



/* -----------PRIVATE------------  */

/* header */
.header__content {
    padding: 40px 0 20px 0;
}

.header__logo a {
    font-size: 36px !important;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}


.header__right form input {
    padding: 10px 50px 10px 20px;
    background: #232220;
    border: 1px solid #232220;
    border-radius: 6px;
    outline: none;
    color: #c2d0da;
    height: 45px;
}

.header__right form i {
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
    color: #404040;
}

.header__right .mode i {
    font-size: 30px;
}

.header__right .nav-trigger {
    font-size: 1.95em;
    padding: 0 8px;
    color: #fbfdfb;
}

.header__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
}

.overlay-scale {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;

}

.header__overlay .header__btnClose {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    border: none;
    background: #ff6600;
    border-radius: 6px;
    overflow: hidden;
    color: #fff;
}

.header__overlay .header__btnClose:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.header__overlay nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header__overlay .nav-item .nav-link {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    transition: all .2s;
}

.header__overlay .nav-item .nav-link:hover {
    color: #ff6600;
}
/* my carousel  */
.my-carousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    height: 700px;
}

.my-carousel__info {
    max-width: 600px;
    color: #fff;
}

.my-carousel__info h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;

}

.my-carousel__info p {
    line-height: 28px;

}

.my-carousel__info button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 45px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    transition: all .5s;
}

.my-carousel__info button:focus {
    background-color: #fff;
    color: #ff6600;
    box-shadow: 0 0 0 0.2rem rgba(123, 89, 208, 0.25);
}


/* .about */
.about__content {
    display: flex;
}


h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

/* best  */
.best {
    background-color: #ff6600;
    display: flex;
}
/* left  */

.best__left img {
    width: 100%;

}

.best__left img::before {
    content: "";
    background: rgb(16 15 19 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
/* right */
.best__right__text h6 {
    padding-top: 20px ;
    color: #fff;
}

.best__right__text p {
    color: #ffdfc9;
}

.best__right__comment .icon i {
    background-color: #fff;
}

.best__right__comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}


.icon {

    font-size: 25px;
    line-height: 70px;
}



.icon i {
    width: 65px;
    height: 65px;
text-align: center;
line-height: 62px;

    border-radius: 6px;
    font-size: 2rem;
}

.best__right__comment a {
    padding-top: 20px ;
    display: block;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}

.best__right__comment p {
    color: #ffdfc9;
}
/* left  */


/* categories  */



/* product  */



/* number  */



/* videoFood  */



/* blog  */


/* testimonial  */



/* footer  */












/*-------------------- REPONSIVE-------------------- */
/* width  */
@media screen and (max-width:1190px) {
    .my-carousel__info h3 {
        font-size: 48px;
        line-height: 58px;
    }

}

@media screen and (max-width:992px) {
    .my-carousel__info h3 {
        font-size: 44px;
        line-height: 53px;
    }
}

@media screen and (max-width:800px) {
    .my-carousel {
        min-height: 600px;
        height: 600px;
    }

    .my-carousel__info h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width:767px) {
    .header__overlay ul .nav-item .nav-link{
        font-size: 16px;
    } 
}

@media screen and (max-width:600px) {
    .header__right form {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .my-carousel {
        min-height: 450px;
        height: 450px;
    }

    .my-carousel__info {
        max-width: 500px;
    }

    .my-carousel__info h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .my-carousel__info button {
        padding: 10px 21px;
    }

}

/* height  */

@media screen and (max-height:30.5em) {
    .header__overlay ul li {
        line-height: 1.2em;
    }
}