/* product */
.product__item__top .info a {
    color: #eee;
}
.dark .product__item__top .info a{
    color: #232121;
}

.product__item__top {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgb(130 115 249 / 5%);
    line-height: 70px;
    border-radius: 5px;
    transition: 0.3s;
}

.product__item {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background: #232220; 
    position: relative;
    border: 1px solid rgb(255 255 255 / 10%);
}
.dark .product__item{
    background:#fff ;
    border: 1px solid #eee;
}

.icon {
    color: #ff6600;
}

.product__item:hover .icon {
    color: #fff;
    background-color: #ff6600;
    transition: .60s;
}


.product__item h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
}

.info a {
    text-decoration: none;
}

.info h4 a:hover {
    color: #ff6600;
    transition: .3s;
}




/* videoFood  */

.videoFood .video__info {
    background: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}


.videoFood .video__info:before {
    content: "";
    background: rgb(16 15 19 / 60%);
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
    
}

.videoFood .video__icon i {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

.video__info {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}

.food__video {
    position: absolute;
    
    left: 45%; 
}
.buton_video {
    text-align: center;
    padding-left: 1rem !important;
}
.buton__video {
    border-radius: 50%;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
}
/*-- play icon animation --*/
@-webkit-keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
 .food__video i:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background:#ff6600;
    border: transparent;
    color: #fff;
}


#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/* testtimonial  */
.testimonial__body {
    text-align: center;
}

.testimonial__item img {
    width: 85px;
    height: 85px;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.testimonial__body i {
    display: block;
    font-size: 22px;
    color: #ff6600;
}

.testimonial__body a {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.testimonial__item .OMG {
    font-size: 24px;
    line-height: 36px;
    color: #eee;
    font-weight: 600;
}
.dark .testimonial__item .OMG{
    color: #232121;
}

.OMG::before {
    content: open-quote;
}

.OMG::after {
    content: close-quote;
}

.testimonial .slick-dots li button:before {
    width: 20px;
    height: 20px;
    font-size: 10px;
    color: #ff6600;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
}

.testimonial__item h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px !important;
}

.container .testimonial__body {
    max-width: 700px;
    margin: auto;
}

/* backtotop  */
.backtotop {
    position: fixed;
    display: block;
    background-color: #ff6600;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    bottom: 55px;
    right: 20px;
    opacity: 0;
}

.backtotop:hover {
    color: #fff;
}

.cd-top--is-visible {
    opacity: 1;
}


/* REPONSIVE  */

@media (max-width: 1080px) {
    .class__h3 {
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media (max-width: 1080px) {
    .product__item__top .info h4 a {
        font-size: 20px;
    }
}

@media (max-width: 1080px) {
    .class__h3 {
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media (max-width: 675px) {
    .testimonial__item .OMG {
        font-size: 22px;
        line-height: 32px;
    }
}
/* 
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
} */
@media all and (max-width:992px) {
    .best__img {
        min-height: 200px;
    }
}
/* 
@media (max-width: 992px)
.agent-block-image {
    min-height: 200px;
} */